bot_Database.db
spotify_Module/__pycache__/
libraries/__pycache__/
__pycache__/
logs/
*.py[cod]
.vscode/
.VSCodeCounter/
bot_Keys.json
test.py
bot_Database.db
sqlite merge.txt
curl.txt
screenshots/psd/
