<!DOCTYPE html>
<html>
  <head>
    <title>Jarvis Telegram Bot for Spotify</title>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <style>
      .auth_State {
        text-align: center;
        display: block;
        max-width: 100%;
        max-height: 100%;
      }

      .header {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
      }
     </style>

    <div class="header">
      <h1>Jarvis Telegram Bot for Spotify</h1>
      <h2><a href="https://t.me/JarvisMusicalBot">Go to Telegram</a></h2>
    </div>
    
  </head>
</html>